[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
# Developing / Debugging
ipython = "*"
pudb = "*"
pytest-pudb = "*"
# jedi = "==0.17.2"  # fixes ipython bug
# Testing
doubles = "*"
Faker = "*"
pytest = "*"
pytest-assume = "*"
pytest-cov = "*"
pytest-html = "*"
pytest-pspec = "*"
pytest-mock = "*"
pytest-random-order = "*"
mock = "*"
pytest-env = "*"
chispa = "*"
# Documentation
recommonmark = "*"
sphinx = "*"
sphinxcontrib-plantuml = "*"
sphinx_rtd_theme = "*"
mccabe = "*"
rope = "*"
ansi2html = "*"
pylint = "*"
pyarrow = "*"
sphinx-markdown-builder = "*"
sphinx-jekyll-builder = "*"
grip = "*"
# Others
bump2version = "*"
twine = "*"
pytest-html-reporter = "*"
semver = "*"
build = "*"
black = "*"

[packages]
future = "*"
spooq = {path = ".", editable = true}
pyspark = "4.0.1"
delta-spark = "4.0.0"
requests = "*"

[requires]
python_version = "3.11"
