[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
# Developing / Debugging
ipython = "*"
pyspark = "==3.0.1"
#Testing
doubles = "*"
Faker = "*"
pytest = "*"
pytest-assume = "*"
pytest-cov = "*"
pytest-html = "*"
pytest-pspec = "*"
pytest-random-order = "*"
pytest-spark = "*"
mock = "*"
pytest-env = "*"
# Documentation
recommonmark = "*"
sphinx = "*"
sphinxcontrib-plantuml = "*"
mccabe = "*"
pytest-mock = "*"
ipdb = "*"
rope = "*"
ansi2html = "*"
pylint = "*"
pyarrow = "*"
chispa = "*"
jedi = "==0.17.2"

[packages]
pandas = "*"
future = "*"
spooq2 = {path = ".",editable = true}
pyspark = "==3.0.1"

[requires]
python_version = "3.7"

