[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
# Developing / Debugging
ipython = "*"
#Testing
doubles = "==1.5.0"
pyspark = "==2.4.3"
findspark = "==1.3.0"
Faker = "==1.0.1"
pytest = "==3.10.1"
pytest-assume = "==1.2.1"
pytest-cov = "==2.5.1"
pytest-html = "==1.19.0"
pytest-pspec = "==0.0.3"
pytest-random-order = "==0.8.0"
pytest-spark = "==0.5.2"
mock = "==2.0.0"
pytest-env = "*"
# Documentation
recommonmark = "==0.5.0"
sphinx = "==1.8.5"
sphinx-bootstrap-theme = "==0.7.1"
sphinx-rtd-theme = "==0.4.3"
sphinxcontrib-plantuml = "==0.18"
easydev = "==0.9.38"
groundwork-sphinx-theme = "==1.1.1"
mozilla-sphinx-theme = "==0.2"
foundation-sphinx-theme = {editable = true,git = "https://github.com/episodeyang/foundation-sphinx-theme.git",ref = "4ea6a6e2d7708b873d69436eeae766993b178183"}
mccabe = "*"
pytest-mock = "*"
ipdb = "*"
rope = "*"
ansi2html = "*"
pylint = "*"
pyarrow = "*"

[packages]
pandas = "==0.24.2"
future = "*"
spooq2 = {path = ".",editable = true}

[requires]
python_version = "3.7"
