name: Tests

on:
  pull_request:
    types: [labeled]

jobs:
  test_on_label:
    if: github.event.label.name == 'test-it'
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          # Spark 3.1
          - pyspark-version: 3.1.3
            pip-packages: "pyspark==3.1.3 delta-spark==1.0.1"
          # Spark 3.2
          - pyspark-version: 3.2.4
            pip-packages: "pyspark==3.2.4 delta-spark==2.0.2"
          # Spark 3.3
          - pyspark-version: 3.3.4
            pip-packages: "pyspark==3.3.4 delta-spark==2.3.0"
          # Spark 3.4
          - pyspark-version: 3.4.0
            pip-packages: "pyspark==3.4.0 delta-spark==2.4.0"
          - pyspark-version: 3.4.1
            pip-packages: "pyspark==3.4.1 delta-spark==2.4.0"
          - pyspark-version: 3.4.2
            pip-packages: "pyspark==3.4.2 delta-spark==2.4.0"
          # Spark 3.5
          - pyspark-version: 3.5.0
            pip-packages: "pyspark==3.5.0 delta-spark==3.0.0"
          - pyspark-version: 3.5.1
            pip-packages: "pyspark==3.5.1 delta-spark==3.1.0"
          # Spark 4.0
          - pyspark-version: 4.0.1
            pip-packages: "pyspark==4.0.1 delta-spark==4.0.0"
    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: oracle

    - name: Set up Python 3.11
      uses: actions/setup-python@v2
      with:
        python-version: 3.11

    - name: Install pipenv
      run: pip install pipenv

    - name: Install Pipfile dependencies
      run: |
        pipenv install --dev

    - name: Install PySpark and Delta packages
      env:
        PYSPARK_VERSION_NUMBER: ${{ matrix.pyspark-version }}
        PIP_PACKAGES: ${{ matrix.pip-packages }}
      run: |
        echo "Installing Pyspark $PYSPARK_VERSION_NUMBER from pip package $PIP_PACKAGES"
        pipenv install $PIP_PACKAGES

    - name: Debug Java Version
      run: |
        echo "java -version:"
        java -version

        echo "JAVA_PATH:"
        echo $JAVA_PATH

        echo "JAVA_HOME:"
        echo $JAVA_HOME

        echo "javac -version:"
        javac -version

    - name: Run tests with Pyspark ${{ matrix.python-version }}
      working-directory: ./tests
      run: |
        pipenv run pytest
