name: Tests Python 3.8

on:
  push:
    branches: [ master ]

jobs:
  push_to_master:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          # Spark 4.0.1
          - pyspark-version: 4.0.1
            pip-packages: "pyspark==4.0.1 delta-spark==4.0.0"
    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: oracle

    - name: Set up Python 3.11
      uses: actions/setup-python@v2
      with:
        python-version: 3.11

    - name: Install pipenv
      run: pip install pipenv

    - name: Install Pipfile dependencies
      run: |
        pipenv install --dev

    - name: Install PySpark and Delta packages
      env:
        PYSPARK_VERSION_NUMBER: ${{ matrix.pyspark-version }}
        PIP_PACKAGES: ${{ matrix.pip-packages }}
      run: |
        echo "Installing Pyspark $PYSPARK_VERSION_NUMBER from pip package $PIP_PACKAGES"
        pipenv install $PIP_PACKAGES

    - name: Run tests with Pyspark
      working-directory: ./tests
      run: |
        pipenv run pytest
